/* =============================================== *\
	HTML5 VIDEO BACKGROUND
	This is the important part
	It can be used for a 'hero' section or a
	full-screen background
\* =============================================== */
/* This first class is not necessary for full-screen backgrounds */
.video-hero {
	position: relative;
	overflow: hidden;
}
.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	    	background-size: cover;
}
.video-bg video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    	transform: translate(-50%,-50%);
}
	/**
	 * For full-screen video backgrounds, add the
	 * .video-bg--fullscreen class to .video-bg div
	 */
	.video-bg--fullscreen {
		position: fixed;
	}
.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none; /* Allows right click menu on the video */
	background: rgba(0,0,0,0.5); /* You can play with the opacity */
}

.video-hero--content button{
background: #FFA500;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px;
    box-shadow: none;
    border: 2px solid #FFA500;
    outline-style: none;
   }
/**
 * This part should be set separately for each video
 * if there are multiple videos in your site.
 * I.e. '.demo-video' is the name of the video
 */
.video-bg.demo-video {
	background-image: url(files/office-people-working.jpg);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .video-bg video {
	opacity: 0;
	-webkit-transition: opacity .8s linear;
	   -moz-transition: opacity .8s linear;
	    	transition: opacity .8s linear;
}
.js .video-bg video.is-playing {
	opacity: 1;
}

/* =============================================== *\
	HTML5 VIDEO HERO
	You don't need to copy this, but you might
	draw some inspiration from it
\* =============================================== */
.video-hero {
	height: 480px; /* Feel free to set a height in your own way */
}
.video-hero--content {
	position: relative;
	text-align: center;
	margin-top: 200px;
	color: #FFF;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

/* =============================================== *\
	OTHER STUFF - no need to copy this
\* =============================================== */
html,
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.4;
}
a {
	text-decoration: none;
	color: #a46497;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.page-width {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;
}
#container {
	width: 960px;
	margin: 100px auto;
	background: rgba(255,255,255,0.6);
	position: relative;
	z-index: 3;
}
#header {
	background: #2c2d33;
	padding: 2em 0;
}
#header a {
	color: #FFF;
}
.title {
	display: block;
	font-weight: bold;
	font-size: 18px;
}
.subtitle {
	display: block;
	font-weight: normal;
	font-size: 15px;
	color: #959699;
}
a:hover .subtitle {
	color: #FFF;
}
#site-title {
	float: left;
	margin: 0;
}
#menu {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
	margin: 0;
	padding: 0 15px;
	display: inline-block;
}
.video-hero--content h2 {
	font-size: 34px;
	margin: 0 0 10px;
}
.video-hero--content p {
	font-size: 20px;
	margin: 0;
}
#content {
	padding: 40px 0;
}

#about{
	padding:40px 0;
}

#about .col-xs-12{
	padding-left: 3%;
}

#about .col-xs-12  button{
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    margin-right: 10px;
    box-shadow: none;
    border: 2px solid green ;
    outline-style: none;
      
	}
	
	#about .col-md-6{
	padding-left: 3%;
}


ul.bulleted {
  margin-bottom: 20px;
}

ul.bulleted li {
  padding-left: 40px;
}
ul.bulleted li:before {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: .5em;
  padding: 3px 2px 2px;
  border-radius: 2px;
  text-align:center;
  width: 25px;
}

ul.bulleted .in {
  color: #5A6772;
}
ul.bulleted .in:before {
  content: "IN";
  background-color: #5fcf80;
}
ul.bulleted .out {
  color: #A7B4BF;
}
ul.bulleted .out:before {
  content: "OUT";
  background-color: #ed5a5a;
}

#members{
	padding: 3%;
}

ul {
  list-style: none;
}



ul.rooms {
  margin-bottom: 30px;
}

ul.rooms li {
  font-size: 1em;
  display: inline-block;
  width: 10%;
  padding: 3px 2px 2px;
  border-radius: 2px;
  margin: 0 3px 3px 3px;
  color: white;
    text-align: center;
}

ul.rooms li.empty {
  background-color: #5fcf80;
}
ul.rooms li.full {
  background-color: #ed5a5a;
}

ul.bulleted {
  margin-bottom: 20px;
}

ul.bulleted li {
  padding-left: 40px;
}
ul.bulleted li:before {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: .5em;
  padding: 3px 2px 2px;
  border-radius: 2px;
  text-align:center;
  width: 25px;
}

ul.bulleted .in {
  color: #5A6772;
}
ul.bulleted .in:before {
  content: "IN";
  background-color: #5fcf80;
}
ul.bulleted .out {
  color: #A7B4BF;
}
ul.bulleted .out:before {
  content: "OUT";
  background-color: #ed5a5a;
}





ul li {
  list-style-type: none;
}

.avatar {
  width: 50%;
  display: block;
  border-radius: 50%;
  margin: 0 25%;
}


/*Media Quiries*/
@media (max-width: 1000px) {
  .slides p {
    font-size: 18px;
    
  }
  .grid-fifth {
    width: 27.333333%;
    margin: 0 3%;
  }
}
@media (max-width: 700px) {
  .tagline {
    display: none;
  }
    
  .row {
    padding: 0 10px;
  }
  
 
}

.slick-dots li button:before {
  font-size: 16px;
  color: black;
}
.slick-dots li.slick-active button:before {
  color: black;
}

.slides img{
   position: relative; 
}

.navbar a{
	size: 9px;
}

 
 

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   transition: 1s;
}




.navbar li { color: white } 

.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}

 ul li {
    margin: 15px 0 0;
    font-size: 15px;
    color: white;
    position: relative;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
  
  .navbar-default .navbar-brand {
    color: white;
}

.is-sticky header{
	 z-index:3;
	 style:none;
	 background-color: black;
	 background: black;
	 border-color: black;	  

}

 .is-sticky header .navbar-collapse{
	 background-color: black;
	 background: black;
	 border-color: black;
	  transition:1s;

}

#weather {
  width: 250px;
  margin: 0px;
  float:none;
  text-transform: uppercase;
}

#weather h2 {
  margin: 0 0 8px;
  color: black;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

#employeeList{
 float:none;	
}
.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: url("img/weather/cloudy19.png"); } }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before {  content: url("img/weather/sun93.png"); }
.icon-33:before { content: "6"; }
.icon-34:before { content: url("img/weather/sun93.png"); }
.icon-35:before { content: "W"; }
.icon-36:before { content: url("img/weather/sun93.png"); }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

footer{
	text-align: center;
}









